<Configuration>
    <Appenders>
        <File name="GameLog"  filename="logs/prikazy.log">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="GameLog"/>
        </Root>
    </Loggers>
</Configuration>